# Arquivo .htaccess dentro da pasta public
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Configurações de segurança adicionais
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# Desabilitar listagem de diretório
Options -Indexes

# Proteção do arquivo .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>